<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create New Post</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h2 style="text-align:center;">Create a New Blog Post</h2>
    <form method="POST" action="/post" style="text-align:center;display: block;" class="edit-container">
        <input type="text" placeholder="Enter Username" name="username" required ><br/><br/>
        <textarea name="content" placeholder="Write Your Post" rows="8" cols="40" required></textarea><br/><br/>
        <button>Submit Post</button>
    </form>
</body>
</html>
