<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Post Details</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <h2>Post Details</h2>
    <p style="text-align: center;"><strong>ID:</strong>
        <%= post.id %>
    </p>
    <div class="post">
        <h3 class="user">@<%= post.username %>
        </h3>
        <h4 class="cont">
            <%= post.content %>
        </h4>
        <% if (post.imagePath) { %>
            <img src="<%= post.imagePath %>" alt="Post Image" width="300px">
            <% } %>

    </div>
</body>

</html>